@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Sans-Serif';
    box-sizing: border-box;
}

#menu {
    padding: 20px 20;
    text-align:center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3)
}
header {
    margin: 0;
    padding: 0;
} 

.nome-jane {
    position: relative ;
    text-transform: uppercase;
    color: black;
    margin-bottom: 5px;  
    animation: neonJane 3s alternate infinite ease-in-out;
    
}

.nome-jane:hover {
    transition: all .5s;
    color:rgb(255, 0, 230);  
}

.nav-bar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    display: inline-block;
    padding: 10px 50px;
    flex-wrap: wrap;   
}

.nav-options {
    text-decoration: none;
    color: gray;
}

.nav-options:hover {
    transition: all 0.5s;
    color: rgb(252, 252, 252);
    background: repeating-radial-gradient(red, rgb(255, 0, 230), rebeccapurple);
    font-size: larger;
    font-weight: bolder; 
     
}
footer{
    text-align: center;
    background: rgb(177, 175, 175);
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

@keyframes neonJane {
    from {
        filter: drop-shadow( 0 0 0 black);
    }
    to {
        filter: drop-shadow(0 0 10px rgb(255, 0, 230));
    }
    0% {
        top: -5px;
    }
    50% {
        top: 10px;
    }
    100%{
        top: -5px
    }
}